* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background {
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135vh;
}

.background.show {
    background-image: url(./moist.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135vh;
}
